{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ title }}</h2>

    <ul class="active_listings">
        {% for listing in listings %}
        <li class="listing">
            {% if listing.photo %}
                <image class="image" src="{{ listing.photo }}" alt="Broom"></image>
            {% endif %}
            <div class="listing_description">
                <a class="listingTitle" href="{% url 'listing' listing.id %}">{{ listing.name }}</a>
                <div>
                    <label class="priceTag">Price: $</label><label>{{ listing.price }}</label>
                </div>
                <a>{{ listing.description }}</a>
                <label class="date">Created: {{ listing.date }}</label> 
            </div>
        </li> 
            
        {% empty %}
            Empty.
        {% endfor %}
    </ul>
    
{% endblock %}