body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
    overflow-wrap: break-word;
    max-width: 100%;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    margin-top: 5px;
}

.form-group {
    margin-bottom: 1rem;
    display: block;
}

.title {
    width: 90%;
    font-size: 15px;
    line-height: 15px;
}

.createForm {
  max-width: 800px;
}
