input[type="text"] {
  width: 500px;
  height: 20px;
  border-radius: 20px;
  text-align: left;
  font-family:'Roboto', sans-serif;
  margin: 20px;
  padding: 15px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 14px;
  border: 1px solid lightgray;
}

input[type="submit"] {
  width: 140px;
  height: 40px;
  text-align: middle;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  font-size: 15px;
  border-style: hidden;
  background-color: #f8f9fa;
  color: #3c4043;
  border-radius: 5px;
  border-width: 0.5px;
}

input[type="submit"]:hover {
  border-style: solid;
}

input[type="text"]:hover {
  border-style: none;
}

html, body {
  height: 100%;overflow: hidden;
}

.center {
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.right {
  justify-content: right;
  text-align: right;
  margin: 10px
}

a {
  color: #3c4043;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: xxx-large;
  font-family: 'Roboto', sans-serif;
}

.link {
  margin: 10px;
}

.advanced {
  font-family: 'Roboto', sans-serif;
  color:crimson;
}

.font {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.row {
  display: flex;
  align-items: center;
  width: 750px;
}

.row label {
  flex: 0 0 160px;
  font-family: 'Roboto', sans-serif;
}

#imgLogo {
  width: 300px;
  display: flex;
}

